<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

## Project Overview

For this project we'll be using three datasets that are available on the city of Chicago's Data Portal:

1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Socioeconomic Indicators in Chicago</a>
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Public Schools</a>
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 3. Chicago Crime Data

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### Downloading the datasets

* Chicago Census Data

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

* Chicago Public Schools

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

* Chicago Crime Data

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

### Storing the datasets in database tables

To analyze the data using SQL, it first needs to be loaded into SQLite DB.
We will create three tables in as under:

1.  **CENSUS_DATA**
2.  **CHICAGO_PUBLIC_SCHOOLS**
3.  **CHICAGO_CRIME_DATA**

We install and load the libraries, and establish a connection to `SQL_Chicago.db`

In [45]:
%pip install ipython-sql

import pandas as pd
import csv, sqlite3
import warnings
# Ignore all warnings
warnings.filterwarnings("ignore", category=FutureWarning)

con = sqlite3.connect("SQL_Chicago.db")
cur = con.cursor()

Requirement already satisfied: ipython-sql in c:\users\exxod\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\exxod\anaconda3\lib\site-packages (from ipython-sql) (3.12.0)
Requirement already satisfied: ipython in c:\users\exxod\anaconda3\lib\site-packages (from ipython-sql) (8.31.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\exxod\anaconda3\lib\site-packages (from ipython-sql) (2.0.34)
Requirement already satisfied: sqlparse in c:\users\exxod\anaconda3\lib\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\exxod\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\exxod\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\exxod\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\exxod\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: colorama in c:\users\exxod\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: decorator in c:\users\exxod\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\exxod\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\exxod\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in c:\users\exxod\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\exxod\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack_data in c:\users\exxod\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\exxod\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: wcwidth in c:\users\exxod\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\exxod\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\exxod\anaconda3\lib\site-packages (from stack_data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\exxod\anaconda3\lib\site-packages (from stack_data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\exxod\anaconda3\lib\site-packages (from stack_data->ipython->ipython-sql) (0.2.2)
Note: you may need to restart the kernel to use updated packages.

Load the SQL magic module

In [46]:
%reload_ext sql

Using `Pandas` we can the data available in the links above to dataframes. Using these dataframes we can load data on to the database `SQL_Chicago.db` tables.

In [47]:
df1 = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01")
df1.to_sql("CENSUS_DATA", con, if_exists='replace', index=False,method="multi")

df2 = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01")
df2.to_sql("CHICAGO_PUBLIC_SCHOOLS", con, if_exists='replace', index=False, method="multi")

df3 = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01")
df3.to_sql("CHICAGO_CRIME_DATA", con, if_exists='replace', index=False,method="multi")

533

Now we establish a connection between SQL magic module and the database `SQL_Chicago.db`

In [50]:
%config SqlMagic.style = '_DEPRECATED_DEFAULT' #To avoid a persistent error

In [51]:
%sql sqlite:///SQL_Chicago.db

In [52]:
# to check on every table:
%sql select name, type from PRAGMA_TABLE_INFO('CENSUS_DATA');

 * sqlite:///SQL_Chicago.db
Done.

[('COMMUNITY_AREA_NUMBER', 'REAL'),
 ('COMMUNITY_AREA_NAME', 'TEXT'),
 ('PERCENT_OF_HOUSING_CROWDED', 'REAL'),
 ('PERCENT_HOUSEHOLDS_BELOW_POVERTY', 'REAL'),
 ('PERCENT_AGED_16__UNEMPLOYED', 'REAL'),
 ('PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA', 'REAL'),
 ('PERCENT_AGED_UNDER_18_OR_OVER_64', 'REAL'),
 ('PER_CAPITA_INCOME', 'INTEGER'),
 ('HARDSHIP_INDEX', 'REAL')]

In [53]:
%sql select name, type from PRAGMA_TABLE_INFO('CHICAGO_PUBLIC_SCHOOLS');

 * sqlite:///SQL_Chicago.db
Done.

[('School_ID', 'INTEGER'),
 ('NAME_OF_SCHOOL', 'TEXT'),
 ('Elementary, Middle, or High School', 'TEXT'),
 ('Street_Address', 'TEXT'),
 ('City', 'TEXT'),
 ('State', 'TEXT'),
 ('ZIP_Code', 'INTEGER'),
 ('Phone_Number', 'TEXT'),
 ('Link', 'TEXT'),
 ('Network_Manager', 'TEXT'),
 ('Collaborative_Name', 'TEXT'),
 ('Adequate_Yearly_Progress_Made_', 'TEXT'),
 ('Track_Schedule', 'TEXT'),
 ('CPS_Performance_Policy_Status', 'TEXT'),
 ('CPS_Performance_Policy_Level', 'TEXT'),
 ('HEALTHY_SCHOOL_CERTIFIED', 'TEXT'),
 ('Safety_Icon', 'TEXT'),
 ('SAFETY_SCORE', 'REAL'),
 ('Family_Involvement_Icon', 'TEXT'),
 ('Family_Involvement_Score', 'TEXT'),
 ('Environment_Icon', 'TEXT'),
 ('Environment_Score', 'REAL'),
 ('Instruction_Icon', 'TEXT'),
 ('Instruction_Score', 'REAL'),
 ('Leaders_Icon', 'TEXT'),
 ('Leaders_Score', 'TEXT'),
 ('Teachers_Icon', 'TEXT'),
 ('Teachers_Score', 'TEXT'),
 ('Parent_Engagement_Icon', 'TEXT'),
 ('Parent_Engagement_Score', 'TEXT'),
 ('Parent_Environment_Icon', 'TEXT'),
 ('Parent_Environment_Score', 'TEXT'),
 ('AVERAGE_STUDENT_ATTENDANCE', 'TEXT'),
 ('Rate_of_Misconducts__per_100_students_', 'REAL'),
 ('Average_Teacher_Attendance', 'TEXT'),
 ('Individualized_Education_Program_Compliance_Rate', 'TEXT'),
 ('Pk_2_Literacy__', 'TEXT'),
 ('Pk_2_Math__', 'TEXT'),
 ('Gr3_5_Grade_Level_Math__', 'TEXT'),
 ('Gr3_5_Grade_Level_Read__', 'TEXT'),
 ('Gr3_5_Keep_Pace_Read__', 'TEXT'),
 ('Gr3_5_Keep_Pace_Math__', 'TEXT'),
 ('Gr6_8_Grade_Level_Math__', 'TEXT'),
 ('Gr6_8_Grade_Level_Read__', 'TEXT'),
 ('Gr6_8_Keep_Pace_Math_', 'TEXT'),
 ('Gr6_8_Keep_Pace_Read__', 'TEXT'),
 ('Gr_8_Explore_Math__', 'TEXT'),
 ('Gr_8_Explore_Read__', 'TEXT'),
 ('ISAT_Exceeding_Math__', 'REAL'),
 ('ISAT_Exceeding_Reading__', 'REAL'),
 ('ISAT_Value_Add_Math', 'REAL'),
 ('ISAT_Value_Add_Read', 'REAL'),
 ('ISAT_Value_Add_Color_Math', 'TEXT'),
 ('ISAT_Value_Add_Color_Read', 'TEXT'),
 ('Students_Taking__Algebra__', 'TEXT'),
 ('Students_Passing__Algebra__', 'TEXT'),
 ('9th Grade EXPLORE (2009)', 'TEXT'),
 ('9th Grade EXPLORE (2010)', 'TEXT'),
 ('10th Grade PLAN (2009)', 'TEXT'),
 ('10th Grade PLAN (2010)', 'TEXT'),
 ('Net_Change_EXPLORE_and_PLAN', 'TEXT'),
 ('11th Grade Average ACT (2011)', 'TEXT'),
 ('Net_Change_PLAN_and_ACT', 'TEXT'),
 ('College_Eligibility__', 'TEXT'),
 ('Graduation_Rate__', 'TEXT'),
 ('College_Enrollment_Rate__', 'TEXT'),
 ('COLLEGE_ENROLLMENT', 'INTEGER'),
 ('General_Services_Route', 'INTEGER'),
 ('Freshman_on_Track_Rate__', 'TEXT'),
 ('X_COORDINATE', 'REAL'),
 ('Y_COORDINATE', 'REAL'),
 ('Latitude', 'REAL'),
 ('Longitude', 'REAL'),
 ('COMMUNITY_AREA_NUMBER', 'INTEGER'),
 ('COMMUNITY_AREA_NAME', 'TEXT'),
 ('Ward', 'INTEGER'),
 ('Police_District', 'INTEGER'),
 ('Location', 'TEXT')]

We can check different tables for specific data needed:

In [54]:
%sql select name, type from PRAGMA_TABLE_INFO('CHICAGO_CRIME_DATA');

 * sqlite:///SQL_Chicago.db
Done.

[('ID', 'INTEGER'),
 ('CASE_NUMBER', 'TEXT'),
 ('DATE', 'TEXT'),
 ('BLOCK', 'TEXT'),
 ('IUCR', 'TEXT'),
 ('PRIMARY_TYPE', 'TEXT'),
 ('DESCRIPTION', 'TEXT'),
 ('LOCATION_DESCRIPTION', 'TEXT'),
 ('ARREST', 'INTEGER'),
 ('DOMESTIC', 'INTEGER'),
 ('BEAT', 'INTEGER'),
 ('DISTRICT', 'INTEGER'),
 ('WARD', 'REAL'),
 ('COMMUNITY_AREA_NUMBER', 'REAL'),
 ('FBICODE', 'TEXT'),
 ('X_COORDINATE', 'REAL'),
 ('Y_COORDINATE', 'REAL'),
 ('YEAR', 'INTEGER'),
 ('LATITUDE', 'REAL'),
 ('LONGITUDE', 'REAL'),
 ('LOCATION', 'TEXT')]

We can now proceed to write queries:

### Example 1:

##### Finding the total number of crimes recorded in the CRIME table.

In [56]:
%sql SELECT COUNT(*) FROM CHICAGO_CRIME_DATA

 * sqlite:///SQL_Chicago.db
Done.

[(533,)]

### Example 2

##### Listing the community area names and numbers with per capita income less than 11000.

In [57]:
%sql SELECT COMMUNITY_AREA_NAME, COMMUNITY_AREA_NUMBER, PER_CAPITA_INCOME FROM CENSUS_DATA WHERE PER_CAPITA_INCOME < 11000

 * sqlite:///SQL_Chicago.db
Done.

[('West Garfield Park', 26.0, 10934),
 ('South Lawndale', 30.0, 10402),
 ('Fuller Park', 37.0, 10432),
 ('Riverdale', 54.0, 8201)]

### Example 3

##### Listing all case numbers for crimes involving minors (children are not considered minors for the purposes of crime analysis).

In [58]:
%sql SELECT CASE_NUMBER FROM CHICAGO_CRIME_DATA WHERE DESCRIPTION LIKE '%MINOR'

 * sqlite:///SQL_Chicago.db
Done.

[('HL266884',), ('HK238408',)]

### Example 4

##### Listing all kidnapping crimes involving a child.

In [59]:
%sql SELECT CASE_NUMBER, PRIMARY_TYPE, DESCRIPTION FROM CHICAGO_CRIME_dATA WHERE PRIMARY_TYPE = 'KIDNAPPING' AND DESCRIPTION LIKE '%CHILD%'

 * sqlite:///SQL_Chicago.db
Done.

[('HN144152', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER')]

### Example 5

##### Listing the kind of crimes that were recorded at schools. (No repetitions)

In [60]:
%sql SELECT DISTINCT PRIMARY_TYPE, LOCATION_DESCRIPTION FROM CHICAGO_CRIME_dATA WHERE LOCATION_DESCRIPTION LIKE '%SCHOOL%'

 * sqlite:///SQL_Chicago.db
Done.

[('BATTERY', 'SCHOOL, PUBLIC, GROUNDS'),
 ('BATTERY', 'SCHOOL, PUBLIC, BUILDING'),
 ('CRIMINAL DAMAGE', 'SCHOOL, PUBLIC, GROUNDS'),
 ('NARCOTICS', 'SCHOOL, PUBLIC, GROUNDS'),
 ('NARCOTICS', 'SCHOOL, PUBLIC, BUILDING'),
 ('ASSAULT', 'SCHOOL, PUBLIC, GROUNDS'),
 ('CRIMINAL TRESPASS', 'SCHOOL, PUBLIC, GROUNDS'),
 ('PUBLIC PEACE VIOLATION', 'SCHOOL, PRIVATE, BUILDING'),
 ('PUBLIC PEACE VIOLATION', 'SCHOOL, PUBLIC, BUILDING')]

### Example 6

##### Listing 5 community areas with highest % of households below poverty line

In [72]:
%sql SELECT COMMUNITY_AREA_NAME, PERCENT_HOUSEHOLDS_BELOW_POVERTY FROM CENSUS_DATA ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC LIMIT 5

 * sqlite:///SQL_Chicago.db
Done.

[('Riverdale', 56.5),
 ('Fuller Park', 51.2),
 ('Englewood', 46.6),
 ('North Lawndale', 43.1),
 ('East Garfield Park', 42.4)]

### Example 7

##### Displaying the community area number where the area is most crime prone

In [66]:
%sql SELECT COMMUNITY_AREA_NUMBER, COUNT(PRIMARY_TYPE) AS TOTAL_CRIMES FROM CHICAGO_CRIME_DATA \
GROUP BY COMMUNITY_AREA_NUMBER ORDER BY TOTAL_CRIMES DESC LIMIT 5

 * sqlite:///SQL_Chicago.db
Done.

[(25.0, 43), (None, 43), (23.0, 22), (68.0, 21), (29.0, 16)]

### Example 8

##### Using a sub-query to find the name of the community area with highest hardship index

In [67]:
%sql SELECT COMMUNITY_AREA_NAME, HARDSHIP_INDEX FROM CENSUS_DATA WHERE HARDSHIP_INDEX = (SELECT MAX(HARDSHIP_INDEX) FROM CENSUS_DATA)

 * sqlite:///SQL_Chicago.db
Done.

[('Riverdale', 98.0)]

### Example 9

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [71]:
%sql SELECT COMMUNITY_AREA_NAME FROM CENSUS_DATA WHERE COMMUNITY_AREA_NUMBER = 25.0

 * sqlite:///SQL_Chicago.db
Done.

[('Austin',)]



## <h3 align="center"> © IBM Corporation 2023. All rights reserved. <h3/>